@import "../../assets/scss/index";

.dashboardView {
  position: relative;
  background: url("https://images.pexels.com/photos/2525903/pexels-photo-2525903.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  header {
    background-color: #eee;
    height: 7vh;
    @include F($d: column);
    .MuiButton-outlined {
      padding: 0.56rem;
      margin-left: 20px;
    }
  }
}

.dashboard__logout {
  position: absolute;
  right: 20px;
  transition: transform 100ms ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateX(8%);
  }
}

.dashboard__logout__icon {
  color: #999;
}

.dashboardView__input {
  width: 30vw;
  .MuiOutlinedInput-input {
    padding: 0.8rem;
  }
}

.dashboard__main {
  position: relative;
  margin: 5vh auto;
  width: 90vw;
  height: 80vh;
  @include F(space-evenly);
  background: #ffffffa2;
  border-radius: 10px;
  p {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 0.9rem;
    color: #0084ff;
    cursor: pointer;
    transition: color 30ms ease-in-out;
    &:hover {
      text-decoration: underline;
      color: #00a2ff;
    }
  }
}

.dashboardView__mainTtl {
  padding: 10px 0;
  @include F();
  h1 {
    text-shadow: 1px 1px 2px #222;
    color: #111;
  }
}

.dashboardView__mainTtl--playerOne {
  background: firebrick;
}

.dashboardView__mainTtl--playerTwo {
  background: #777;
}

.dashboardView__configOptions {
  border: 1px solid red;
}
