@import "../../assets/scss/index";

// - Page Vars
$mainContainerBorder: 5px solid #999;

.dashboardView {
  position: relative;
  background: url("https://images.pexels.com/photos/2525903/pexels-photo-2525903.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    center fixed;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  header {
    background-color: #eee;
    border-bottom: $mainContainerBorder;
    height: 65px;
    @include F();
    h3 {
      font-size: 2.5rem;
      font-family: $damion;
      @media screen and (max-device-width: 850px) {
        font-size: 2rem;
      }
    }
  }
}

.dashboard__logout {
  position: absolute;
  right: 20px;
  transition: transform 100ms ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateX(8%);
  }
}

.dashboard__logout__icon {
  color: #999;
}

.dashboard__main {
  width: 100vw;
  min-height: 93vh;
  display: flex;
  background: #ffffffa2;
}

.dashboard__mainLeft {
  width: 25%;
  border-right: $mainContainerBorder;
  @include F($j: flex-start, $d: column);
}

.dashboard__mainRight {
  width: 75%;
  @include F(flex-start, center, column);
}

.dashboard__mainRight__ttl {
  width: 100%;
  text-align: center;
  background: #eee;
  opacity: .6;
  padding: 15px 0;
  border-bottom: 1px solid #222;
  h3 {
    color: #fff;
    text-shadow: 1px 1px 3px #00000042;
  }
}

.dashboard__mainRight__board {
  box-shadow: 5px 5px 5px #00000021 inset;
  @include F();
  width: 100%;
  height: 100%;
}
