@import "../../assets/scss/index";

.dashboardView {
  background-color: #111;
  width: 100vw;
  height: 100vh;
  header {
    border: 1px solid red;
    height: 10vh;
    @include F($d: column);
    input {
      font-size: 1.5rem;
      padding: 5px;
    }
  }
  h3 {
    color: #eee;
  }
}

main {
  border: 1px solid red;
  margin: 5vh auto;
  width: 90vw;
  height: 80vh;
  @include F();
  background: #999;
}
