@import "../../../assets/scss/";

.configOptionsComponent {
  width: 100%;
  min-height: 16rem;
  padding: 0 0 5px;
  @include F(flex-start, flex-start, column);
  border: 1px solid rgba(17, 17, 17, 0.164);
  background: rgb(245, 245, 245);
  h1 {
    padding: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
    font-family: $damion;
    margin-bottom: 1rem;
    border-bottom: 1px solid #999;
    width: 100%;
  }
  &:nth-child(2) {
    border-top: 1px solid #999;
  }
}

.configOptions__container {
  @include F(space-between, flex-start, column);
  width: 90%;
  margin: 20px 0 0 10px;
  h3 {
    color: #111;
    font-size: 1rem;
    font-weight: 300;
  }
  .MuiTypography-root {
    font-size: 0.9rem !important;
  }
  .MuiFormGroup-root {
    width: 80%;
    margin: 0 0 0 30px;
  }
}

.configOptions__icon {
  font-size: 1.6rem !important;
}
