@import "../../assets/scss/index";

.dashboardView {
  width: 100vw;
  height: 100vh;
  background: #111;
}

.dashboardView__input--wrapper {
  padding: 10px;
  h4 {
    margin: 0 0 5px;
    color: #eee;
  }
}

.dashboardView__input {
  width: 25vw;
  font-size: 1rem;
  padding: 5px 10px;
}
