@import "../../../assets/scss/";

.tileComponent {
  width: 70px;
  height: 70px;
  @include F();
  border: 1px solid #999;
}

.tileComponent--highlight {
  border: 3px solid lightblue;
}

.tile--white {
  background: #000;
}

.tile--black {
  background: #fff;
}

.tile__pawn {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 2px 2px 4px #111;
  border: 1px solid #5a4d4d;
  cursor: pointer;
  @include F();
}

.pawn--active {
  border: 3px solid #eeff00 !important;
}

.pawn--red {
  background: firebrick;
}

.pawn--grey {
  background: #999;
}
